* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: #DDE8FB;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.container img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
}

.content h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 800;
    font-size: 25px;
}

.message {
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-weight: 400;
}

.plan {
    position: relative;
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.plan a {
    position: absolute;
    right: 20px;
    color: #2d26bd;
    font-weight: 700;
    font-size: 14px;
}

.plan a:hover {
    text-decoration: none;
    color: #746BF1;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
}

.description p {
    color: hsl(224, 23%, 55%);
    font-weight: 400;
    font-size: 14px;
}

.description h2 {
    color: hsl(223, 47%, 23%);
    font-size: 16px;
}

.proceed {
    width: 100%;
    background-color: #312ACE;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    transition: background 0.2s;

    -webkit-box-shadow: 0px 18px 29px -4px rgba(116,107,241,0.31); 
    box-shadow: 0px 18px 29px -4px rgba(116,107,241,0.31);
}

.proceed:hover {
    background-color: #746BF1;
}

.cancel-order {
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-size: 15px;
}

.cancel-order:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    position: absolute;
    bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and  (max-width: 800px) {
    .container {
        width: 340px;
    }

    .content {
        padding: 20px;
    }
}